<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-espacios-reserva-heading" jhiTranslate="newoapp1App.espaciosReserva.home.createOrEditLabel">Create or edit a Espacios Reserva</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!espaciosReserva.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="espaciosReserva.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="espaciosReserva.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="espaciosReserva.descripcion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.facilidades" for="field_facilidades">Facilidades</label>
                    <input type="text" class="form-control" name="facilidades" id="field_facilidades"
                        [(ngModel)]="espaciosReserva.facilidades" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.capacidad" for="field_capacidad">Capacidad</label>
                    <input type="number" class="form-control" name="capacidad" id="field_capacidad"
                        [(ngModel)]="espaciosReserva.capacidad" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.apertura" for="field_apertura">Apertura</label>
                    <input type="text" class="form-control" name="apertura" id="field_apertura"
                        [(ngModel)]="espaciosReserva.apertura" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.cierre" for="field_cierre">Cierre</label>
                    <input type="text" class="form-control" name="cierre" id="field_cierre"
                        [(ngModel)]="espaciosReserva.cierre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa1Hora" for="field_tarifa1Hora">Tarifa 1 Hora</label>
                    <input type="number" class="form-control" name="tarifa1Hora" id="field_tarifa1Hora"
                        [(ngModel)]="espaciosReserva.tarifa1Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa2Hora" for="field_tarifa2Hora">Tarifa 2 Hora</label>
                    <input type="number" class="form-control" name="tarifa2Hora" id="field_tarifa2Hora"
                        [(ngModel)]="espaciosReserva.tarifa2Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa3Hora" for="field_tarifa3Hora">Tarifa 3 Hora</label>
                    <input type="number" class="form-control" name="tarifa3Hora" id="field_tarifa3Hora"
                        [(ngModel)]="espaciosReserva.tarifa3Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa4Hora" for="field_tarifa4Hora">Tarifa 4 Hora</label>
                    <input type="number" class="form-control" name="tarifa4Hora" id="field_tarifa4Hora"
                        [(ngModel)]="espaciosReserva.tarifa4Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa5Hora" for="field_tarifa5Hora">Tarifa 5 Hora</label>
                    <input type="number" class="form-control" name="tarifa5Hora" id="field_tarifa5Hora"
                        [(ngModel)]="espaciosReserva.tarifa5Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa6Hora" for="field_tarifa6Hora">Tarifa 6 Hora</label>
                    <input type="number" class="form-control" name="tarifa6Hora" id="field_tarifa6Hora"
                        [(ngModel)]="espaciosReserva.tarifa6Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa7Hora" for="field_tarifa7Hora">Tarifa 7 Hora</label>
                    <input type="number" class="form-control" name="tarifa7Hora" id="field_tarifa7Hora"
                        [(ngModel)]="espaciosReserva.tarifa7Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.tarifa8Hora" for="field_tarifa8Hora">Tarifa 8 Hora</label>
                    <input type="number" class="form-control" name="tarifa8Hora" id="field_tarifa8Hora"
                        [(ngModel)]="espaciosReserva.tarifa8Hora" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.estadoReserva" for="field_estadoReserva">Estado Reserva</label>
                    <input type="number" class="form-control" name="estadoReserva" id="field_estadoReserva"
                        [(ngModel)]="espaciosReserva.estadoReserva" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.wifi" for="field_wifi">Wifi</label>
                    <input type="text" class="form-control" name="wifi" id="field_wifi"
                        [(ngModel)]="espaciosReserva.wifi" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.espaciosReserva.sedes" for="field_sedes">Sedes</label>
                    <select class="form-control" id="field_sedes" name="sedes" [(ngModel)]="espaciosReserva.sedes">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sedesOption.id === espaciosReserva.sedes?.id ? espaciosReserva.sedes : sedesOption" *ngFor="let sedesOption of sedes; trackBy: trackSedesById">{{sedesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
