<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoapp1App.espaciosReserva.home.title">Espacios Reservas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-espacios-reserva" [routerLink]="['/espacios-reserva/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="newoapp1App.espaciosReserva.home.createLabel">
            Create new Espacios Reserva
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="espaciosReservas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.nombre">Nombre</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.facilidades">Facilidades</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.capacidad">Capacidad</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.apertura">Apertura</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.cierre">Cierre</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa1Hora">Tarifa 1 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa2Hora">Tarifa 2 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa3Hora">Tarifa 3 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa4Hora">Tarifa 4 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa5Hora">Tarifa 5 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa6Hora">Tarifa 6 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa7Hora">Tarifa 7 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.tarifa8Hora">Tarifa 8 Hora</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.estadoReserva">Estado Reserva</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.wifi">Wifi</span></th>
            <th><span jhiTranslate="newoapp1App.espaciosReserva.sedes">Sedes</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let espaciosReserva of espaciosReservas ;trackBy: trackId">
                <td><a [routerLink]="['/espacios-reserva', espaciosReserva.id, 'view' ]">{{espaciosReserva.id}}</a></td>
                <td>{{espaciosReserva.nombre}}</td>
                <td>{{espaciosReserva.descripcion}}</td>
                <td>{{espaciosReserva.facilidades}}</td>
                <td>{{espaciosReserva.capacidad}}</td>
                <td>{{espaciosReserva.apertura}}</td>
                <td>{{espaciosReserva.cierre}}</td>
                <td>{{espaciosReserva.tarifa1Hora}}</td>
                <td>{{espaciosReserva.tarifa2Hora}}</td>
                <td>{{espaciosReserva.tarifa3Hora}}</td>
                <td>{{espaciosReserva.tarifa4Hora}}</td>
                <td>{{espaciosReserva.tarifa5Hora}}</td>
                <td>{{espaciosReserva.tarifa6Hora}}</td>
                <td>{{espaciosReserva.tarifa7Hora}}</td>
                <td>{{espaciosReserva.tarifa8Hora}}</td>
                <td>{{espaciosReserva.estadoReserva}}</td>
                <td>{{espaciosReserva.wifi}}</td>
                <td>
                    <div *ngIf="espaciosReserva.sedes">
                        <a [routerLink]="['../sedes', espaciosReserva.sedes?.id, 'view' ]" >{{espaciosReserva.sedes?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/espacios-reserva', espaciosReserva.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/espacios-reserva', espaciosReserva.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'espacios-reserva', { outlets: { popup: espaciosReserva.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
