<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="miembrosEquipoEmpresas">
            <h2><span jhiTranslate="newoapp1App.miembrosEquipoEmpresas.detail.title">Miembros Equipo Empresas</span> {{miembrosEquipoEmpresas.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoapp1App.miembrosEquipoEmpresas.equipoEmpresas">Equipo Empresas</span></dt>
                <dd>
                    <div *ngIf="miembrosEquipoEmpresas.equipoEmpresas">
                        <a [routerLink]="['/equipo-empresas', miembrosEquipoEmpresas.equipoEmpresas?.id, 'view']">{{miembrosEquipoEmpresas.equipoEmpresas?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoapp1App.miembrosEquipoEmpresas.miembros">Miembros</span></dt>
                <dd>
                    <div *ngIf="miembrosEquipoEmpresas.miembros">
                        <a [routerLink]="['/miembros', miembrosEquipoEmpresas.miembros?.id, 'view']">{{miembrosEquipoEmpresas.miembros?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/miembros-equipo-empresas', miembrosEquipoEmpresas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
