<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoapp1App.miembrosEquipoEmpresas.home.title">Miembros Equipo Empresas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-miembros-equipo-empresas" [routerLink]="['/miembros-equipo-empresas/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="newoapp1App.miembrosEquipoEmpresas.home.createLabel">
            Create new Miembros Equipo Empresas
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="miembrosEquipoEmpresas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="newoapp1App.miembrosEquipoEmpresas.equipoEmpresas">Equipo Empresas</span></th>
            <th><span jhiTranslate="newoapp1App.miembrosEquipoEmpresas.miembros">Miembros</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let miembrosEquipoEmpresas of miembrosEquipoEmpresas ;trackBy: trackId">
                <td><a [routerLink]="['/miembros-equipo-empresas', miembrosEquipoEmpresas.id, 'view' ]">{{miembrosEquipoEmpresas.id}}</a></td>
                <td>
                    <div *ngIf="miembrosEquipoEmpresas.equipoEmpresas">
                        <a [routerLink]="['../equipo-empresas', miembrosEquipoEmpresas.equipoEmpresas?.id, 'view' ]" >{{miembrosEquipoEmpresas.equipoEmpresas?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="miembrosEquipoEmpresas.miembros">
                        <a [routerLink]="['../miembros', miembrosEquipoEmpresas.miembros?.id, 'view' ]" >{{miembrosEquipoEmpresas.miembros?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/miembros-equipo-empresas', miembrosEquipoEmpresas.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/miembros-equipo-empresas', miembrosEquipoEmpresas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'miembros-equipo-empresas', { outlets: { popup: miembrosEquipoEmpresas.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
