<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoapp1App.reservas.home.title">Reservas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservas" [routerLink]="['/reservas/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="newoapp1App.reservas.home.createLabel">
            Create new Reservas
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reservas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="newoapp1App.reservas.fechaEntrada">Fecha Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.reservas.horaEntrada">Hora Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.reservas.fechaSalida">Fecha Salida</span></th>
            <th><span jhiTranslate="newoapp1App.reservas.horaSalida">Hora Salida</span></th>
            <th><span jhiTranslate="newoapp1App.reservas.espaciosReserva">Espacios Reserva</span></th>
            <th><span jhiTranslate="newoapp1App.reservas.miembros">Miembros</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservas of reservas ;trackBy: trackId">
                <td><a [routerLink]="['/reservas', reservas.id, 'view' ]">{{reservas.id}}</a></td>
                <td>{{reservas.fechaEntrada | date:'mediumDate'}}</td>
                <td>{{reservas.horaEntrada}}</td>
                <td>{{reservas.fechaSalida | date:'mediumDate'}}</td>
                <td>{{reservas.horaSalida}}</td>
                <td>
                    <div *ngIf="reservas.espaciosReserva">
                        <a [routerLink]="['../espacios-reserva', reservas.espaciosReserva?.id, 'view' ]" >{{reservas.espaciosReserva?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reservas.miembros">
                        <a [routerLink]="['../miembros', reservas.miembros?.id, 'view' ]" >{{reservas.miembros?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reservas', reservas.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reservas', reservas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reservas', { outlets: { popup: reservas.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
