<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservas">
            <h2><span jhiTranslate="newoapp1App.reservas.detail.title">Reservas</span> {{reservas.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoapp1App.reservas.fechaEntrada">Fecha Entrada</span></dt>
                <dd>
                    <span>{{reservas.fechaEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.reservas.horaEntrada">Hora Entrada</span></dt>
                <dd>
                    <span>{{reservas.horaEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.reservas.fechaSalida">Fecha Salida</span></dt>
                <dd>
                    <span>{{reservas.fechaSalida}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.reservas.horaSalida">Hora Salida</span></dt>
                <dd>
                    <span>{{reservas.horaSalida}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.reservas.espaciosReserva">Espacios Reserva</span></dt>
                <dd>
                    <div *ngIf="reservas.espaciosReserva">
                        <a [routerLink]="['/espacios-reserva', reservas.espaciosReserva?.id, 'view']">{{reservas.espaciosReserva?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoapp1App.reservas.miembros">Miembros</span></dt>
                <dd>
                    <div *ngIf="reservas.miembros">
                        <a [routerLink]="['/miembros', reservas.miembros?.id, 'view']">{{reservas.miembros?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservas', reservas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
