<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoapp1App.entradaInvitados.home.title">Entrada Invitados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entrada-invitados" [routerLink]="['/entrada-invitados/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="newoapp1App.entradaInvitados.home.createLabel">
            Create new Entrada Invitados
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="entradaInvitados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="newoapp1App.entradaInvitados.fechaEntrada">Fecha Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.entradaInvitados.horaEntrada">Hora Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.entradaInvitados.tipoEntrada">Tipo Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.entradaInvitados.espacioLibre">Espacio Libre</span></th>
            <th><span jhiTranslate="newoapp1App.entradaInvitados.invitados">Invitados</span></th>
            <th><span jhiTranslate="newoapp1App.entradaInvitados.espaciosReserva">Espacios Reserva</span></th>
            <th><span jhiTranslate="newoapp1App.entradaInvitados.reservas">Reservas</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entradaInvitados of entradaInvitados ;trackBy: trackId">
                <td><a [routerLink]="['/entrada-invitados', entradaInvitados.id, 'view' ]">{{entradaInvitados.id}}</a></td>
                <td>{{entradaInvitados.fechaEntrada | date:'mediumDate'}}</td>
                <td>{{entradaInvitados.horaEntrada}}</td>
                <td jhiTranslate="{{'newoapp1App.TipoEntradad.' + entradaInvitados.tipoEntrada}}">{{entradaInvitados.tipoEntrada}}</td>
                <td>
                    <div *ngIf="entradaInvitados.espacioLibre">
                        <a [routerLink]="['../espacio-libre', entradaInvitados.espacioLibre?.id, 'view' ]" >{{entradaInvitados.espacioLibre?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaInvitados.invitados">
                        <a [routerLink]="['../invitados', entradaInvitados.invitados?.id, 'view' ]" >{{entradaInvitados.invitados?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaInvitados.espaciosReserva">
                        <a [routerLink]="['../espacios-reserva', entradaInvitados.espaciosReserva?.id, 'view' ]" >{{entradaInvitados.espaciosReserva?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaInvitados.reservas">
                        <a [routerLink]="['../reservas', entradaInvitados.reservas?.id, 'view' ]" >{{entradaInvitados.reservas?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/entrada-invitados', entradaInvitados.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/entrada-invitados', entradaInvitados.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'entrada-invitados', { outlets: { popup: entradaInvitados.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
