<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invitados-heading" jhiTranslate="newoapp1App.invitados.home.createOrEditLabel">Create or edit a Invitados</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invitados.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="invitados.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.invitados.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="invitados.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.invitados.apellido" for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                        [(ngModel)]="invitados.apellido" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.invitados.identificacion" for="field_identificacion">Identificacion</label>
                    <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                        [(ngModel)]="invitados.identificacion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.invitados.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                        [(ngModel)]="invitados.correo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.invitados.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                        [(ngModel)]="invitados.telefono" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.invitados.tiempoMaximo" for="field_tiempoMaximo">Tiempo Maximo</label>
                    <input type="checkbox" class="form-control" name="tiempoMaximo" id="field_tiempoMaximo"
                        [(ngModel)]="invitados.tiempoMaximo" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoapp1App.invitados.miembros" for="field_miembros">Miembros</label>
                    <select class="form-control" id="field_miembros" name="miembros" [(ngModel)]="invitados.miembros" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="miembrosOption.id === invitados.miembros?.id ? invitados.miembros : miembrosOption" *ngFor="let miembrosOption of miembros; trackBy: trackMiembrosById">{{miembrosOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
