<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoapp1App.productosServicios.home.title">Productos Servicios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-productos-servicios" [routerLink]="['/productos-servicios/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="newoapp1App.productosServicios.home.createLabel">
            Create new Productos Servicios
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productosServicios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="newoapp1App.productosServicios.nombreProducto">Nombre Producto</span></th>
            <th><span jhiTranslate="newoapp1App.productosServicios.foto">Foto</span></th>
            <th><span jhiTranslate="newoapp1App.productosServicios.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="newoapp1App.productosServicios.inventariables">Inventariables</span></th>
            <th><span jhiTranslate="newoapp1App.productosServicios.valor">Valor</span></th>
            <th><span jhiTranslate="newoapp1App.productosServicios.impuesto">Impuesto</span></th>
            <th><span jhiTranslate="newoapp1App.productosServicios.perfilEquipoEmpresa">Perfil Equipo Empresa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productosServicios of productosServicios ;trackBy: trackId">
                <td><a [routerLink]="['/productos-servicios', productosServicios.id, 'view' ]">{{productosServicios.id}}</a></td>
                <td>{{productosServicios.nombreProducto}}</td>
                <td>
                    <a *ngIf="productosServicios.foto" (click)="openFile(productosServicios.fotoContentType, productosServicios.foto)">
                        <img [src]="'data:' + productosServicios.fotoContentType + ';base64,' + productosServicios.foto" style="max-height: 30px;" alt="productosServicios image"/>
                    </a>
                    <span *ngIf="productosServicios.foto">{{productosServicios.fotoContentType}}, {{byteSize(productosServicios.foto)}}</span>
                </td>
                <td>{{productosServicios.descripcion}}</td>
                <td>{{productosServicios.inventariables}}</td>
                <td>{{productosServicios.valor}}</td>
                <td jhiTranslate="{{'newoapp1App.Impuestod.' + productosServicios.impuesto}}">{{productosServicios.impuesto}}</td>
                <td>
                    <div *ngIf="productosServicios.perfilEquipoEmpresa">
                        <a [routerLink]="['../perfil-equipo-empresa', productosServicios.perfilEquipoEmpresa?.id, 'view' ]" >{{productosServicios.perfilEquipoEmpresa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/productos-servicios', productosServicios.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/productos-servicios', productosServicios.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'productos-servicios', { outlets: { popup: productosServicios.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
