<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoapp1App.entradaMiembros.home.title">Entrada Miembros</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entrada-miembros" [routerLink]="['/entrada-miembros/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="newoapp1App.entradaMiembros.home.createLabel">
            Create new Entrada Miembros
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="entradaMiembros">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.fechaEntrada">Fecha Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.horaEntrada">Hora Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.tipoEntrada">Tipo Entrada</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.tiempoMaximo">Tiempo Maximo</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.sedes">Sedes</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.miembros">Miembros</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.espacioLibre">Espacio Libre</span></th>
            <th><span jhiTranslate="newoapp1App.entradaMiembros.espaciosReserva">Espacios Reserva</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entradaMiembros of entradaMiembros ;trackBy: trackId">
                <td><a [routerLink]="['/entrada-miembros', entradaMiembros.id, 'view' ]">{{entradaMiembros.id}}</a></td>
                <td>{{entradaMiembros.fechaEntrada | date:'mediumDate'}}</td>
                <td>{{entradaMiembros.horaEntrada}}</td>
                <td>{{entradaMiembros.tipoEntrada}}</td>
                <td>{{entradaMiembros.tiempoMaximo}}</td>
                <td>
                    <div *ngIf="entradaMiembros.sedes">
                        <a [routerLink]="['../sedes', entradaMiembros.sedes?.id, 'view' ]" >{{entradaMiembros.sedes?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaMiembros.miembros">
                        <a [routerLink]="['../miembros', entradaMiembros.miembros?.id, 'view' ]" >{{entradaMiembros.miembros?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaMiembros.espacioLibre">
                        <a [routerLink]="['../espacio-libre', entradaMiembros.espacioLibre?.id, 'view' ]" >{{entradaMiembros.espacioLibre?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="entradaMiembros.espaciosReserva">
                        <a [routerLink]="['../espacios-reserva', entradaMiembros.espaciosReserva?.id, 'view' ]" >{{entradaMiembros.espaciosReserva?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/entrada-miembros', entradaMiembros.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/entrada-miembros', entradaMiembros.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'entrada-miembros', { outlets: { popup: entradaMiembros.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
