<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entradaMiembros">
            <h2><span jhiTranslate="newoapp1App.entradaMiembros.detail.title">Entrada Miembros</span> {{entradaMiembros.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.fechaEntrada">Fecha Entrada</span></dt>
                <dd>
                    <span>{{entradaMiembros.fechaEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.horaEntrada">Hora Entrada</span></dt>
                <dd>
                    <span>{{entradaMiembros.horaEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.tipoEntrada">Tipo Entrada</span></dt>
                <dd>
                    <span>{{entradaMiembros.tipoEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.tiempoMaximo">Tiempo Maximo</span></dt>
                <dd>
                    <span>{{entradaMiembros.tiempoMaximo}}</span>
                </dd>
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.sedes">Sedes</span></dt>
                <dd>
                    <div *ngIf="entradaMiembros.sedes">
                        <a [routerLink]="['/sedes', entradaMiembros.sedes?.id, 'view']">{{entradaMiembros.sedes?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.miembros">Miembros</span></dt>
                <dd>
                    <div *ngIf="entradaMiembros.miembros">
                        <a [routerLink]="['/miembros', entradaMiembros.miembros?.id, 'view']">{{entradaMiembros.miembros?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.espacioLibre">Espacio Libre</span></dt>
                <dd>
                    <div *ngIf="entradaMiembros.espacioLibre">
                        <a [routerLink]="['/espacio-libre', entradaMiembros.espacioLibre?.id, 'view']">{{entradaMiembros.espacioLibre?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoapp1App.entradaMiembros.espaciosReserva">Espacios Reserva</span></dt>
                <dd>
                    <div *ngIf="entradaMiembros.espaciosReserva">
                        <a [routerLink]="['/espacios-reserva', entradaMiembros.espaciosReserva?.id, 'view']">{{entradaMiembros.espaciosReserva?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entrada-miembros', entradaMiembros.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
